.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(254, 23, 88);
  padding: 5px;
  gap: 5px;
}
.container div {
  background-color: #ffcfe6;
  color: #89001b;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}