/* FONT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fde7ef;
  color: #333;
}

/* NAVIGATION */
nav {
  background-color: #8b0000;
  padding: 15px;
  text-align: center;
}

.nav-btn {
  background-color: #f7b6d2;
  color: black;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

/* hover EXCEPT about me */
.nav-btn:hover:not(.no-hover) {
  background-color: #ff69b4;
  transform: scale(1.05);
}

/* active tab */
.nav-btn.active {
  background-color: #4b0000;
  color: white;
}

/* GENERAL SECTION */
.section {
  padding: 40px;
}

/* EDUCATION BOXES */
.education-section {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.edu-box {
  width: 180px;
  height: 160px;
  background-color: #ffd6e8;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.edu-box:hover {
  background-color: #ffb6d5;
  transform: translateY(-8px);
}

/* SCROLL IMAGE EFFECT */
.scroll-gallery {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 20px;
}

.scroll-gallery img {
  height: 200px;
  border-radius: 15px;
  transition: 0.3s;
}

.scroll-gallery img:hover {
  transform: scale(1.05);
}

/* SINGLE BOX */
.single-box {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffeaf3;
  border-radius: 20px;
  text-align: center;
}

.edu-box h3 {
  margin-bottom: 6px;
  color: #8b0000;
}

.edu-box {
  width: 180px;
  height: 160px;
  background-color: #ffd6e8;
  border-radius: 15px;
  padding: 15px;

  /* CENTER CONTENT */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: 0.3s;
}
